body{
background-color: blueviolet;
}

h1{
    text-align: center;
}
h2{
 text-align: center;
 color: cornflowerblue;
}
input[type=text]{
    margin: 0%;
    padding-top: 0 ;
    margin-top: 20px;
    border-radius: 4px;
    border: 3px solid black;
    height: 20px;

}
input[type=email]{
    margin: 0%;
    padding-top: 0 ;
    margin-top: 20px;
    
    border-radius: 4px;
    border: 3px solid black;
    height: 20px;
}
input[type=password]{
    margin: 0%;
    padding-top: 0 ;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 4px;
    height: 20px;
    
}

form{
    margin-left: -5%;
    text-align: center;
    margin: 20px;
}
#pack{
    color: black;
    margin-bottom: 40px;
    font-size: 20px;
    background-color: blue;
    border: none;
    cursor: pointer;
    border-radius: 10px;
   
}
#pack:hover{
    color: cornsilk;
}

